page-home {

    .fecha{
        color: white;   
        height: 150px;
        background-size: cover;
        font-size: 30px;
        text-align: center;
    }
    
}
.scroll-content{
    background-color: #636161;
}