<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista Multimedia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let mes of listaMultimedia">

      <ion-card class="mes">
          <ion-card-content  [ngStyle]="{'background-image': 'url(' + mes.img +')'}" class="fecha">
            {{ mes.mes | date:'MMMM yyyy'}}
          </ion-card-content>
      </ion-card>
      
      <div *ngFor="let actividad of mes.actividades;let i = index">
          <ion-card [ngClass]="{'cardSpecial': actividad.especial}">
            <ion-card-header>
              <button ion-button color="danger" round>{{ actividad.fecha | date:'dd' }}</button>  
              <div style="display:inline" *ngFor="let integrante of actividad.miembros">
                <button 
                    ion-button outline 
                    [ngClass]="{'btnNormal': integrante.estado=='normal', 'btnSpecial': integrante.estado=='cambio'}" 
                    (click)="mostrarCambiar(integrante,actividad.fecha)">
                {{ integrante.nombre }}
                </button>
              </div>
            </ion-card-header>
            <ion-card-content class="contentCard">
              <h1>{{ actividad.titulo }}</h1>
              <p>{{ actividad.descripcion }}</p>
            </ion-card-content>
          </ion-card>
      

      </div>

      
      
  </div>
</ion-content>
