page-home {
    
    .fecha{
        color: white;   
        height: 150px;
        background-size: cover;
        font-size: 30px;
        text-align: center;
    }
    
}
.scroll-content{
    background-color: #ececec;
}

.cardSpecial{
    background: color($colors, special);

    .btnSpecial{
        color: rgb(15, 180, 0) !important;
        border: 1px solid rgb(2, 201, 62);
    }

    .btnNormal{
        color: #fff;
        border: 1px solid #fff;
    }

    .contentCard h1, .contentCard p{
        color: #fff;
    }

}

.btnSpecial{
    color: rgb(15, 180, 0) !important;
    border: 1px solid rgb(2, 201, 62);
}